/* 全局样式 */
html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height: 100%;
}
#root {
  /* height: 100%;
  overflow: auto; */
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(250, 250, 250, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
}

/* 媒体查询适配屏幕分辨率 */
@media screen and (max-width: 576px) {
    html,body{
      font-size: 12px!important;
    }
    .ant-table{
      font-size: 12px;
    }
    .ant-btn-sm, .ant-btn{
      font-size: 12px;
      margin: 10px 0;
    }
    .ant-pagination{
      font-size: 12px;
    }
    .ant-form .ant-form-item{
      flex-basis: 100%;
    }
    .toggleIcon{
      display: none;
    }
    .sideBarCol{
      min-height: 50px;
    }
    .c-PageLayout-sideBar{
        width: 100%!important;
    }
    .c-PageLayout-sideBar .sideBarLayout{
        min-height: 0!important;
    }
    .ant-layout-sider{
        flex: 0 0 0px!important;
        width: 100%!important;
        max-width: 100%!important;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding:4px;
    }
    .largeBtnBox{
      display:none;
    }
    .miniPrimaryBtn{
      color:#1890ff;
    }
    .signInSection, .signUpSection{
      width:100%!important;
    }
    .signInSection .formWrap, .signUpSection .formWrap{
      width:100%!important;
    }
    .signInSection .title, .signUpSection .title{
      font-size:18px!important;
    }
    .pieContainer, .barContainer{
      display: block!important;
    }
    .leftStatistics{
      width: 100%!important;
      display: block!important;
      margin: 10px 0!important;
      padding: 10px 0!important;
    }
    .rightStatistics{
      display: block!important;
    }
    .echartsPieItem, .echartsBarItem{
      width:100%!important;
      float: none!important;
      display: block;
    }
    .searchFormHeader{
      margin:0!important;
    }
    .consumeTypeSelect, .incomeTypeSelect{
      width: 74%!important;
      position: relative;
    }
    .consumeTypeButton, .incomeTypeButton{
      margin-left:6px;
      position: absolute;
      right:0;
      top:-10px;
    }
    .miniBtnBox{
      display: block;
    }
  
}
@media screen and (min-width:576px) and (max-width:760px){
  html,body {
    font-size: 14px!important;
  }
  .ant-table{
    font-size: 14px;
  }
  .ant-btn-sm, .ant-btn{
    font-size: 14px;
    margin: 10px 0;
  }
  .ant-pagination{
    font-size: 14px;
  }
  .c-PageLayout-sideBar .sideBarLayout{
    min-height:0!important;
  }
  .toggleIcon{
    display: none;
  }
  .pieContainer, .barContainer{
    display: block!important;
  }
  .leftStatistics{
    width: 100%!important;
    display: block!important;
    margin: 10px 0!important;
    padding: 10px 0!important;
  }
  .rightStatistics{
    display: block!important;
  }
  .echartsPieItem, .echartsBarItem{
    width:100%!important;
    float: none!important;
    display: block;
  }
    .miniBtnBox{
      display: none;
    }
}
@media screen and (min-width:760px) and (max-width:1200px){
    .miniBtnBox{
      display: none;
    }
}
 @media screen and (min-width: 1200px) {
    html,body {
      font-size: 18px!important;
    }
    .ant-btn-sm{
      margin-right:4px;
    }
    .miniBtnBox{
      display: none;
    }
    .consumeTypeSelect, .incomeTypeSelect{
      width: 78%!important;
      position: relative;
    }
    .consumeTypeButton, .incomeTypeButton{
      margin-left:6px;
      position: absolute;
      right:0;
      top:0;
    }
 }