/* 全局样式 */
html{
    font-size: 20px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,body {
    width:100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

#root {
   min-height: 100%;
   overflow: hidden;
}
/*修改默认滚动条样式*/
::-webkit-scrollbar {
        width:6px;
        cursor: pointer;
}
/*修改滚动条里面轨道样式*/
::-webkit-scrollbar-track {
        background: 0 0;
        cursor: pointer;
}
/*修改滚动条滑块样式*/
::-webkit-scrollbar-thumb {
        background-color:rgba(0, 0, 0, .45);
        border-radius: 10px;
        height:6px;
        cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 媒体查询适配屏幕分辨率 */
@media screen and (max-width: 576px) {
    html{
      font-size: 12px!important;  
    } 
    .ant-table{
        font-size: 10px;
        word-break: break-all;
    }
    .ant-btn-sm, .ant-btn{
      font-size: 12px;
      margin: 10px 0;
    }
    .ant-pagination{
      font-size: 12px;
    }
    .ant-form .ant-form-item{
      flex-basis: 100%;
    }
    .toggleIcon{
      display: none!important;
    }
    .sideBarCol{
      min-height: 50px;
    }
    .c-PageLayout-sideBar{
        width: 100%!important;
        max-height: 200px!important;
        position: relative!important;
        top: 0!important;
    }
    .c-PageLayout-sideBar .sideBarLayout{
        min-height: 0!important;
    }
    .appMain{
        margin-left:0!important;
        padding:10px 6px!important;
    }
    .ant-layout-sider{
        flex: 0 0 0px!important;
        width: 100%!important;
        max-width: 100%!important;
        height: 200px!important;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
      padding:4px;
    }
    .largeBtnBox{
      display:none;
    }
    .miniPrimaryBtn{
      color:#1890ff;
    }
    .signInSection, .signUpSection{
      width:100%!important;
    }
    .signInSection .formWrap, .signUpSection .formWrap{
      width:100%!important;
    }
    .signInSection .title, .signUpSection .title{
      font-size:18px!important;
    }
    .pieContainer, .barContainer{
      display: block!important;
    }
    .leftStatistics{
      width: 100%!important;
      display: block!important;
      margin: 10px 0!important;
      padding: 10px 0!important;
    }
    .rightStatistics{
      display: block!important;
    }
    .echartsPieItem, .echartsBarItem{
      width:100%!important;
      float: none!important;
      display: block;
    }
    .searchFormHeader{
      margin:0!important;
    }
    .consumeTypeSelect, .incomeTypeSelect{
      width: 74%!important;
      position: relative;
    }
    .consumeTypeButton, .incomeTypeButton{
      margin-left:6px;
      position: absolute;
      right:0;
      top:-10px;
    }
    .miniBtnBox{
      display: block;
    }
    .recordTableBox{
        margin:0!important;
    }
    .recordBtn{
        text-align: center!important;
    }
    .investReportContainer{
        display: block!important;
        padding: 20px 0!important;
    }
    .echartsInvestPieItem{
        width:100%!important;
        float: none!important;
        display: block;
    }
    .debtSectionContainer{
        width: 100% !important;
    }

}
@media screen and (min-width:576px) and (max-width:760px){
    html,body {
        font-size: 14px!important;
    }
    .ant-table{
        font-size: 14px;
    }
    .ant-btn-sm, .ant-btn{
        font-size: 14px;
        margin: 10px 0;
    }
    .ant-pagination{
        font-size: 14px;
    }
    .c-PageLayout-sideBar .sideBarLayout{
        min-height:0!important;
    }
    .toggleIcon{
        display: none!important;
    }
    .pieContainer, .barContainer{
        display: block!important;
    }
    .leftStatistics{
        width: 100%!important;
        display: block!important;
        margin: 10px 0!important;
        padding: 10px 0!important;
    }
    .rightStatistics{
        display: block!important;
    }
    .echartsPieItem, .echartsBarItem{
        width:100%!important;
        float: none!important;
        display: block;
    }
    .miniBtnBox{
      display: none;
    }

}
@media screen and (min-width:760px) and (max-width:1200px){
    .miniBtnBox{
      display: none;
    }
}
@media screen and (min-width: 1200px) {
    .ant-btn-sm{
      margin-right:4px;
    }
    .miniBtnBox{
      display: none;
    }
    .consumeTypeSelect, .incomeTypeSelect{
      width: 78%!important;
      position: relative;
    }
    .consumeTypeButton, .incomeTypeButton{
      margin-left:6px;
      position: absolute;
      right:0;
      top:0;
    }
    .investDrawer .ant-drawer-body{
        overflow-y: auto;
        overflow-x: hidden;
    }
}